@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0px auto;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: flex;
  font-size: 0;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}
.header__row {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
}
@media (max-width: 767px) {
  .header__logo {
    top: 0px;
  }
}

.menu__list {
  display: flex;
  font-size: 0;
}
.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}
.menu__list li:after {
  content: "";
  height: 2px;
  width: 2px;
  background-color: #4d5949;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1px 0px 0px 0px;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__link {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
@media (max-width: 767px) {
  .menu .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 200px 0px 20px 0px;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    transition: all 0.3s ease;
  }
  .menu .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    height: 4px;
    width: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }
  .menu__list li:nth-child(2):after {
    display: block;
  }
  .menu__link {
    color: #ffffff;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    transform: scale(0);
    background-color: #fff;
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

/* 
.header-menu__icon{
	display: block;
	position: absolute;
	top: 18px;
	left: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	span{@include anim(0.3s,0s);top: 8px;left: 0;position: absolute;width: 100%;height: 2px;background-color: #000;
		&:first-child{top: 0;}
		&:last-child{top: auto;bottom: 0px;}
	}
	&.active{
		span{@include scale(0);
			&:first-child{@include rotate(-45deg);top: 8px;}
			&:last-child{@include rotate(45deg);bottom: 8px;}
		}
	}
} 
*/
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  font-size: 0;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  background-color: #f7f7f7;
  padding: 120px 0;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0px;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 30px 0px;
  }
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0px 0px 30px 0px;
}
.block__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0px 0px 18px 0px;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}
@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0px auto;
  }
}

.brands_rev .brands__column {
  order: 1;
}
.brands_rev .brands__column_b {
  order: 1;
}
.brands__row {
  display: flex;
  font-size: 0;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column_b {
  flex: 0 1 66.667%;
}
.brands__content {
  position: relative;
  padding: 70px 65px 55px 65px;
}
.brands__content:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brands__image {
  padding: 0px 0px 37.5% 0px;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__row {
    flex-direction: column;
  }
  .brands_last .brands__column:nth-child(1) {
    order: 2;
  }
  .brands_last .brands__column:nth-child(2) {
    order: 1;
  }
  .brands_last .brands__column:nth-child(3) {
    order: 3;
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
}
.item__logo {
  display: flex;
  font-size: 0;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(137, 230, 194, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 142px 0px 60px 0px;
}
.slider__item {
  text-align: center;
}
.slider__icon {
  margin: 0px 0px 37px 0px;
}
.slider__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin: 0px 0px 27px 0px;
}
.slider__titlespan {
  font-weight: 300;
  color: #848789;
}
.slider__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}