@mixin anim($time, $delay) {
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-ms-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}
@mixin anim_cubic($time, $delay) {
}
@mixin animate($name, $time, $infinite, $type) {
}
@mixin rotate($deg) {
}
@mixin scale($num) {
}
@mixin skew($num) {
}
@mixin cnt($h) {
}
@mixin tr($x, $y, $z) {
}
@mixin flexbox() {
	display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;
}
@mixin flexboxinline() {
}
@mixin flexorder($val) {
}
