// <МИКСИНЫ>============================================================================================================
@import "_mixins";
// </МИКСИНЫ>============================================================================================================

// <ШРИФТЫ>============================================================================================================

// <Подключаем шрифты>============================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
// </Подключаем шрифты>============================================================================================================

// <Шрифт по умолчанию>============================================================================================================
$fontfamily: "Lato";
// </Шрифт по умолчанию>============================================================================================================

// </ШРИФТЫ>============================================================================================================

// <ПЕРЕМЕННЫЕ>============================================================================================================
$minwidth: 320px;
// </ПЕРЕМЕННЫЕ>============================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================================================
@import "_null";

body {
}
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================================================

// <ОБОЛОЧКА>============================================================================================================
.wrapper {
	overflow: hidden; //fullscreen
	min-height: 100%; //fullscreen
}
// </ОБОЛОЧКА>============================================================================================================

// <ОСНОВНАЯ СЕТКА>============================================================================================================
.container {
	max-width: 1130px; // ширина контента в footer 1100px, оставляем отступы по сторонам
	padding: 0 15px; // убираем отступы, т.о. max-width: 1100 и края не упираются ;
	margin: 0px auto;
}
// </ОСНОВНАЯ СЕТКА>============================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
@import "_ui";
@import "_header";
@import "_footer";

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
// <ОСНОВНОЙ БЛОК>============================================================================================================

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
	//position: relative;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//================================================================

.content {
}

//================================================================

.generation {
	background-color: #f7f7f7;
	padding: 120px 0;
	// .generation__block
	&__block {
	}
	@media (max-width: 900px) {
		padding: 80px 0px;
	}
	@media (max-width: 600px) {
		padding: 30px 0px;
	}
}
.block {
	text-align: center;
	// .block__icon
	&__icon {
		margin: 0px 0px 30px 0px;
	}
	// .block__title
	&__title {
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
		margin: 0px 0px 18px 0px;
	}
	// .block__text
	&__text {
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		color: #848789;
		// .block__text_j
		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			&:after {
				content: "";
				display: block;
				margin: 35px auto 0px auto;
				width: 50px;
				height: 1px;
				background-color: rgba(53, 55, 56, 0.2);
			}
		}
	}
	@media (max-width: 1500px) {
		&__text {
			&_j {
				&:after {
					margin: 15px auto 0px auto;
				}
			}
		}
	}
}

//================================================================

.brands {
	// .brands_rev
	&_rev {
		.brands__column {
			@include flexorder(1);
			&_b {
				@include flexorder(1);
			}
		}
	}
	// .brands_last
	&_last {
	}

	// .brands__row
	&__row {
		@include flexbox();
	}
	// .brands__column
	&__column {
		flex: 0 1 33.333%;
		// .brands__column_b
		&_b {
			flex: 0 1 66.667%;
		}
	}
	// .brands__item
	&__item {
	}
	// .brands__content
	&__content {
		position: relative;
		padding: 70px 65px 55px 65px;
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}
	// .brands__image
	&__image {
		padding: 0px 0px 37.5% 0px;
	}
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}
	@media (max-width: 1100px) {
		&__row {
			flex-direction: column;
		}
		&_last {
			.brands__column {
				&:nth-child(1) {
					@include flexorder(2);
				}
				&:nth-child(2) {
					@include flexorder(1);
				}
				&:nth-child(3) {
					@include flexorder(3);
				}
			}
		}
	}
}

.item {
	display: block;
	position: relative;
	height: 100%;
	// .item__logo
	&__logo {
		@include flexbox();
		@include anim(0.3s, 0s);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		background-color: rgb(137 230 194 / 70%);
		opacity: 0;
		visibility: hidden;
		z-index: 2;
	}
	// .item__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding: 0px 0px 70% 0px;
	}
}
//================================================================

// </ОСНОВНОЙ БЛОК>============================================================================================================
