// <МИКСИНЫ>============================================================================================================
@import "_mixins";
// </МИКСИНЫ>============================================================================================================

// <ШРИФТЫ>============================================================================================================

// <Подключаем шрифты>============================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;;1,400&display=swap");
// </Подключаем шрифты>============================================================================================================

// <Шрифт по умолчанию>============================================================================================================
$fontfamily: "Lato";
// </Шрифт по умолчанию>============================================================================================================

// </ШРИФТЫ>============================================================================================================

// <ПЕРЕМЕННЫЕ>============================================================================================================
$minwidth: 320px;
// </ПЕРЕМЕННЫЕ>============================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================================================
@import "_null";

body {
}
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================================================

// <ОБОЛОЧКА>============================================================================================================
.wrapper {
	overflow: hidden; //fullscreen
	min-height: 100%; //fullscreen
}
// </ОБОЛОЧКА>============================================================================================================

// <ОСНОВНАЯ СЕТКА>============================================================================================================
.container {
	max-width: 1130px; // ширина контента в footer 1100px, оставляем отступы по сторонам
	padding: 0 15px; // убираем отступы, т.о. max-width: 1100 и края не упираются ;
}
// </ОСНОВНАЯ СЕТКА>============================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
@import "_ui";
@import "_header";
@import "_footer";

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
// <ОСНОВНОЙ БЛОК>============================================================================================================

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
	//position: relative;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
} 

//================================================================

.content {
	
}

//================================================================

.generation {
	padding: 117px 0 142px;
		// .generation__block
		&__block {}
}
.block {
		// .block__icon
		&__icon {
			
		}
		// .block__title
		&__title {}
		// .block__text
		&__text {}
}

//================================================================

// </ОСНОВНОЙ БЛОК>============================================================================================================